<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.miduodai.loanService.dao.UserRelativeMapper" >
  <resultMap id="BaseResultMap" type="com.miduodai.loanService.beans.entity.UserRelative" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="users_id" property="usersId" jdbcType="INTEGER" />
    <result column="father_name" property="fatherName" jdbcType="VARCHAR" />
    <result column="father_phone" property="fatherPhone" jdbcType="VARCHAR" />
    <result column="mother_name" property="motherName" jdbcType="VARCHAR" />
    <result column="mother_phone" property="motherPhone" jdbcType="VARCHAR" />
    <result column="friend_name" property="friendName" jdbcType="VARCHAR" />
    <result column="friend_phone" property="friendPhone" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, users_id, father_name, father_phone, mother_name, mother_phone, friend_name, 
    friend_phone
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_relative
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_relative
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.miduodai.loanService.beans.entity.UserRelative" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      Postgresql
    </selectKey>
    insert into user_relative (users_id, father_name, father_phone, 
      mother_name, mother_phone, friend_name, 
      friend_phone)
    values (#{usersId,jdbcType=INTEGER}, #{fatherName,jdbcType=VARCHAR}, #{fatherPhone,jdbcType=VARCHAR}, 
      #{motherName,jdbcType=VARCHAR}, #{motherPhone,jdbcType=VARCHAR}, #{friendName,jdbcType=VARCHAR}, 
      #{friendPhone,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.miduodai.loanService.beans.entity.UserRelative" useGeneratedKeys="true" keyProperty="id">
    insert into user_relative
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="usersId != null" >
        users_id,
      </if>
      <if test="fatherName != null" >
        father_name,
      </if>
      <if test="fatherPhone != null" >
        father_phone,
      </if>
      <if test="motherName != null" >
        mother_name,
      </if>
      <if test="motherPhone != null" >
        mother_phone,
      </if>
      <if test="friendName != null" >
        friend_name,
      </if>
      <if test="friendPhone != null" >
        friend_phone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="usersId != null" >
        #{usersId,jdbcType=INTEGER},
      </if>
      <if test="fatherName != null" >
        #{fatherName,jdbcType=VARCHAR},
      </if>
      <if test="fatherPhone != null" >
        #{fatherPhone,jdbcType=VARCHAR},
      </if>
      <if test="motherName != null" >
        #{motherName,jdbcType=VARCHAR},
      </if>
      <if test="motherPhone != null" >
        #{motherPhone,jdbcType=VARCHAR},
      </if>
      <if test="friendName != null" >
        #{friendName,jdbcType=VARCHAR},
      </if>
      <if test="friendPhone != null" >
        #{friendPhone,jdbcType=VARCHAR},
      </if>
    </trim>
    ON conflict(users_id) DO NOTHING
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.miduodai.loanService.beans.entity.UserRelative" >
    update user_relative
    <set >
      <if test="usersId != null" >
        users_id = #{usersId,jdbcType=INTEGER},
      </if>
      <if test="fatherName != null" >
        father_name = #{fatherName,jdbcType=VARCHAR},
      </if>
      <if test="fatherPhone != null" >
        father_phone = #{fatherPhone,jdbcType=VARCHAR},
      </if>
      <if test="motherName != null" >
        mother_name = #{motherName,jdbcType=VARCHAR},
      </if>
      <if test="motherPhone != null" >
        mother_phone = #{motherPhone,jdbcType=VARCHAR},
      </if>
      <if test="friendName != null" >
        friend_name = #{friendName,jdbcType=VARCHAR},
      </if>
      <if test="friendPhone != null" >
        friend_phone = #{friendPhone,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.miduodai.loanService.beans.entity.UserRelative" >
    update user_relative
    set users_id = #{usersId,jdbcType=INTEGER},
      father_name = #{fatherName,jdbcType=VARCHAR},
      father_phone = #{fatherPhone,jdbcType=VARCHAR},
      mother_name = #{motherName,jdbcType=VARCHAR},
      mother_phone = #{motherPhone,jdbcType=VARCHAR},
      friend_name = #{friendName,jdbcType=VARCHAR},
      friend_phone = #{friendPhone,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>